<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Back', @blog %> |
<%= link_to 'Delete', blog_comment_url(@blog, @comment), method: :delete, data: {confirm:'Are you sure?'} %>
